{% extends "base.html" %}
{% block button_header %}

    <form>
        <input class="btn btn-danger ml-4" type="button" value="Volver" onclick="history.go(-1)">
    </form>
{% endblock button_header %}
{% block content %}
<div class="jumbotron bg-dark m-4">

    <div class="row mb-4">
        <h1 class="display-4">Configuración de la cuenta</h1>
    </div>

    <form method="post" action="{% url 'users:configurar' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-danger" name="submit" style="margin-left:100px">Guardar cambios</button>
        <input type="hidden" name="next" value="{% url 'users:configurar' %}" />
    </form>
</div>

{% endblock content %}
