{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title >Bookflix</title>
  {% bootstrap_css %}
  {% bootstrap_javascript jquery="full" %}
</head>

<body>

<div class="row d-block">

  <nav class="navbar navbar-expand-mx navbar-dark bg-dark mb-4 border">


      {% block button_header %} {% endblock button_header %}
      <div class="mx-auto">
        <a href="{% url 'novedades:index'  %}"style="margin-left:80px"><img src="/imagenes/logo.svg" width="60%" /></a>

      </div>


           {% if user.is_authenticated %}


            <div class="float-sm-left">
            <div class="dropdown mr-5">
            <button type="dropdown" class="btn btn-danger dropdown-toggle" id="navbardrop" data-toggle="dropdown" style="margin-right:40px">
                Menú </button>
            <div class="dropdown-menu">
              {% if not user.is_staff %}

               <a class="dropdown-item" href="{% url "perfiles:seleccionarPerfil" %}">Perfiles</a>

                <a class="dropdown-item" href="{% url 'perfiles:verPerfil'  %}">Ver perfil</a>
                <a class="dropdown-item" href="{% url 'users:configurar'  %}">Configurar cuenta</a>


              {% else %}

                <a class="dropdown-item" href=/admin>Panel de administración</a>

              {% endif %}
               <a class="dropdown-item" href="{% url 'users:logout' %}">Cerrar sesión</a>
            </div>
            </div>
            </div>
           {% else %}
             <div class="float-sm-right mr-3">

                <a class="btn btn-danger" href="{% url 'users:login' %}">Iniciar sesión</a></li>
            </div>

            <div class="float-sm-right mr-3">
                <a class="btn btn-danger" href="{% url 'users:register' %}" >Registrarse</a></li>
             </div>

            {% endif %}


</nav>
</div>
<main role="main" class="container bg-dark text-white">
  <div>
    {% block page_header %}{% endblock page_header %}
    </div>
  <div>
    {% block content %}{% endblock content %}
  </div>
</main>

</body>

</html>